:host {
  background-color: var(--ss-main-color);

  display: flex;
  height: 100%;

  overflow: clip;
  overflow-y: clip;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.item {
  position: relative;
  display: block;
  width: 100vw;
  height: 100%;
  scroll-snap-align: center;

  --ledge-width: 120px;
  --ledge-height: calc(100vh - 250px);
  z-index: 2;
}

.item.active {
  z-index: 1;
}

.item::before,
.item::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - var(--ledge-height) / 2);
  width: var(--ledge-width);
  height: var(--ledge-height);
}

.item::before {
  left: calc(-1 * var(--ledge-width));
}

.item::after {
  right: calc(-1 * var(--ledge-width));
}

.arrow {
  display: none;
}

.arrow-left,
.arrow-right {
  --arrow-size: 48px;
  display: block;
  position: fixed;
  width: var(--arrow-size);
  height: var(--arrow-size);
  top: 42vh;
  z-index: 999;
  pointer-events: none;
  opacity: 1;
  transition: opacity 150ms;
  filter: drop-shadow(1px 1px 5px rgb(0 0 0 / .3));
  opacity: .93;
}

.arrow-left use,
.arrow-right use {
  fill: var(--ss-text-color);
  stroke: var(--ss-text-color);
  stroke-width: 1;
}

.arrow-left {
  left: 30px;
}

.arrow-right {
  right: 30px;
  transform: rotate(180deg);
}

.item:first-of-type.active ~ .arrow-left,
.item:last-of-type.active ~ .arrow-right {
  opacity: 0;
}

.item-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.back {
  position: fixed;
  right: 30px;
  top: 30px;
  width: 60px;
  height: 60px;
  z-index: 999;

  box-sizing: border-box;
  border-radius: 50%;

  animation-duration: 8s;
  animation-name: ss-cross-rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  filter: drop-shadow(1px 1px 5px rgb(0 0 0 / .3));
  opacity: .93;
}

.back svg {
  display: block;
  width: 80%;
  height: 80%;
}

.back path {
  fill: var(--ss-text-color);
  stroke: var(--ss-text-color);
  stroke-width: 1;
}

@keyframes ss-cross-rotate {
  0% {
    transform: rotateZ(0deg);
  }
  5% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}