:host {
  box-sizing: border-box;
  position: relative;
  overflow: clip;
  overflow-y: scroll;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  justify-content: stretch;
  align-content: stretch;

  pointer-events: auto;
  visibility: visible;
  opacity: 1;

  transition:
    visibility 0s linear 0s,
    opacity var(--ss-page-transition-duration) ease;
}

:host(:not(.active)) {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;

  transition:
    opacity var(--ss-page-transition-duration) ease,
    visibility 0s linear var(--ss-page-transition-duration);
}